.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
 
  img {
    height: 30px;
    margin-right: 10px;
  }
 
  span {
    font-weight: bold;
    font-size: 28px;
    text-shadow: 0 0 0.2em #9b44ed, 0 0 0.2em #F87; 
  } 
}
