
.toto{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin: 35px;


    div{
        margin-bottom: 50px;
    }
    .criteres{
        padding: 10px;
        border-radius: 10px;
    }
    .btn{
        padding: 10px 73px;
        background-color: #b678eb9e;
        border-radius: 10px;
    }
}

