.profileDiv {
    .profileItem {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
            img {
                object-fit: contain;
                height: 300px;
                width: 300px;
            }
        .profileText{
            padding-left: 20px;
        }
    }




    
}