.swipedesc {

    color: white;

    h3 {
      display: flex;  
      font-size: 1.6em;
      padding-left:10px ;

      span {
          padding-left: 5px;
          
      }
    }
    
    p {
     font-size: 1em ;
     justify-content: left;
     padding-left: 10px;
     padding-right: 10px;
    }

}