.home {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    padding: 25px;
    box-sizing: border-box;
  }