@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');

.itsmatch {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    

    a {
      text-decoration: none;
    }
    
    .logomatch {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgba(166, 21, 202, 0.3);
      margin-top: 100px;
      border-radius: 100%;
      margin-left: 200px;
      margin-right: 200px;
      height: 200px;
      

      
      

      h1{
          color: #fff;
          font-size: 20px;
          text-shadow: 0 0 0em #ac8fc8, 0 0 0.2em rgb(218, 64, 192);
          position: relative;
          margin-bottom: 50px;
         
          
          
      }
      img {
          height: 100px;
          width: initial;
          position: relative;
          margin-top: 50px;
          z-index: 100;
          
      }
    }
    
    img {
      height: 100%;
      width: 100%;
      max-width: 600px;
      position: absolute;
      top: 0;
      z-index: -10;
    }  

}



.newmatch {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    

    span{
        -webkit-text-stroke-width: 1.35px;
        -webkit-text-stroke-color: rgb(250, 247, 247);
        font-size: 5em;
        text-shadow: 0 0px #FF6D00, 0 0px #240046;
        transform: translate(0, 100%) rotate(4deg);
        animation: jump 4s ease-in-out infinite;
        display: inline-block;
        font-family:  'Bungee Shade', cursive;
        color: #fff;
        text-align: center;
        justify-content: center;
        align-items: center;
       
    
    
    
    @for $i from 1 through 7 {
     &:nth-child(#{$i}) {
    animation-delay: 300ms * $i;
          }
        }
      }
    }
    @keyframes jump {
      43% {
        text-shadow: 0 60px #f37121, 0 150px #ab1594;
      }
      46% {
        transform: translate(0, 0) rotate(-4deg);
        text-shadow: 0 0px #7B2CBF, 0 0px #8717e4;
      }
      66.67% {
        text-shadow: 0 -60px #e1b70d, 0 -150px #0aa2e3;
      }
    
    
    

    }